html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
    background-color: ;
}

/* introduction  */

.introduction h1{
    text-align: center;
    font-style: italic;
}

.introduction p{
    text-align: justify;
}

.art{
    margin-left: 10%;
    margin-right: 10%;
}